@charset "UTF-8";

main {
    margin-top: 20px;
}

section {
    margin: 10px;
    
}

.divider-line {
    height: 5px;
    
}
.contact {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
}

